# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
*.egg-info/

# Data snapshot caches / large generated
*.log

#page usder construction
pages/

# Streamlit / Jupyter
.streamlit/
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/